In [22]:
import pandas as pd 
import requests 
import yfinance as yf 

import os 
import sys

In [28]:
import tickers

## Extract

In [4]:
def get_income_statement(tickers, period='annually'):
    """
    Fetch income statement data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.
    period (str): 'annually' or 'quarterly' to fetch annual or quarterly income statement data.

    Returns:
    pandas.DataFrame: A DataFrame containing the income statement data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        if period == 'annually':
            income_statement = ticker.financials if ticker.financials is not None else pd.DataFrame()
        elif period == 'quarterly':
            income_statement = ticker.quarterly_financials if ticker.quarterly_financials is not None else pd.DataFrame()
        else:
            raise ValueError("Invalid period. Use 'annually' or 'quarterly'.")

        if not income_statement.empty:
            # Standardize date format
            if period == 'annually':
                income_statement.columns = pd.to_datetime(income_statement.columns).to_period('Y').to_timestamp('Y')
            else:
                income_statement.columns = pd.to_datetime(income_statement.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            income_statement = income_statement.T
            
            # Reset index to make date a column
            income_statement.reset_index(inplace=True)
            income_statement.rename(columns={'index': 'Date'}, inplace=True)
            
            # Add ticker column
            income_statement['Symbol'] = ticker_symbol
            
            if period == 'annually':
                # Filter for the last 4 years
                four_years_ago = pd.Timestamp.now() - pd.DateOffset(years=4)
                income_statement = income_statement[income_statement['Date'] >= four_years_ago]
            elif period == 'quarterly':
                # Filter for the last 8 quarters
                eight_quarters_ago = pd.Timestamp.now() - pd.DateOffset(months=24)
                income_statement = income_statement[income_statement['Date'] >= eight_quarters_ago]
            
            all_data.append(income_statement)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Include only the specified columns
        columns_to_include = ['Date', 'Symbol', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
                              'Normalized EBITDA',
                              'Net Income From Continuing Operation Net Minority Interest',
                              'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
                              'EBIT', 'Net Interest Income', 'Interest Expense', 'Normalized Income',
                              'Net Income From Continuing And Discontinued Operation',
                              'Total Expenses', 'Diluted Average Shares', 'Basic Average Shares',
                              'Diluted EPS', 'Basic EPS', 'Diluted NI Availto Com Stockholders',
                              'Net Income Common Stockholders', 'Net Income',
                              'Net Income Including Noncontrolling Interests',
                              'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
                              'Net Non Operating Interest Income Expense',
                              'Interest Expense Non Operating', 'Operating Income',
                              'Operating Expense', 'Research And Development',
                              'Selling General And Administration', 'Gross Profit', 'Cost Of Revenue',
                              'Total Revenue', 'Operating Revenue']
        result_df = result_df[columns_to_include]
        
        # Reorder columns to have Date and Symbol first
        cols = ['Date', 'Symbol'] + [col for col in result_df.columns if col not in ['Date', 'Symbol']]
        result_df = result_df[cols]
        
        # Sort by Date (descending) and Symbol
        result_df = result_df.sort_values(['Symbol', 'Date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [5]:
def get_balance_sheet(tickers, period='annually'):
    """
    Fetch balance sheet data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.
    period (str): 'annually' or 'quarterly' to fetch annual or quarterly balance sheet data.

    Returns:
    pandas.DataFrame: A DataFrame containing the balance sheet data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        if period == 'annually':
            balance_sheet = ticker.balance_sheet if ticker.balance_sheet is not None else pd.DataFrame()
        elif period == 'quarterly':
            balance_sheet = ticker.quarterly_balance_sheet if ticker.quarterly_balance_sheet is not None else pd.DataFrame()
        else:
            raise ValueError("Invalid period. Use 'annually' or 'quarterly'.")

        if not balance_sheet.empty:
            # Standardize date format
            if period == 'annually':
                balance_sheet.columns = pd.to_datetime(balance_sheet.columns).to_period('Y').to_timestamp('Y')
            else:
                balance_sheet.columns = pd.to_datetime(balance_sheet.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            balance_sheet = balance_sheet.T
            
            # Reset index to make date a column
            balance_sheet.reset_index(inplace=True)
            balance_sheet.rename(columns={'index': 'Date'}, inplace=True)
            
            # Add ticker column
            balance_sheet['Symbol'] = ticker_symbol
            
            if period == 'annually':
                # Filter for the last 4 years
                four_years_ago = pd.Timestamp.now() - pd.DateOffset(years=4)
                balance_sheet = balance_sheet[balance_sheet['Date'] >= four_years_ago]
            
            all_data.append(balance_sheet)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Include only the specified columns
        columns_to_include = ['Date', 'Symbol', 'Ordinary Shares Number', 'Share Issued',
                              'Tangible Book Value', 'Invested Capital', 'Working Capital',
                              'Net Tangible Assets', 'Common Stock Equity', 'Total Capitalization',
                              'Total Equity Gross Minority Interest', 'Stockholders Equity',
                              'Capital Stock', 'Common Stock',
                              'Total Liabilities Net Minority Interest',
                              'Total Non Current Liabilities Net Minority Interest',
                              'Current Liabilities', 'Payables', 'Accounts Payable', 'Total Assets',
                              'Total Non Current Assets', 'Other Non Current Assets', 'Net PPE',
                              'Accumulated Depreciation', 'Gross PPE',
                              'Machinery Furniture Equipment', 'Properties', 'Current Assets',
                              'Inventory', 'Accounts Receivable',
                              'Cash Cash Equivalents And Short Term Investments',
                              'Cash And Cash Equivalents']
        result_df = result_df[columns_to_include]
        
        # Reorder columns to have Date and Symbol first
        cols = ['Date', 'Symbol'] + [col for col in result_df.columns if col not in ['Date', 'Symbol']]
        result_df = result_df[cols]
        
        # Sort by Date (descending) and Symbol
        result_df = result_df.sort_values(['Symbol', 'Date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [6]:
def get_cashflow(tickers, period='annually'):
    """
    Fetch cash flow data for a list of tickers using yfinance.

    Args:
    tickers (str or list): A single stock ticker symbol or a list of stock ticker symbols.
    period (str): 'annually' or 'quarterly' to fetch annual or quarterly cash flow data.

    Returns:
    pandas.DataFrame: A DataFrame containing the cash flow data for all tickers.
    """

    all_data = []

    # Ensure tickers is a list
    if isinstance(tickers, str):
        tickers = [tickers]

    for ticker_symbol in tickers:
        ticker = yf.Ticker(ticker_symbol)
        if period == 'annually':
            cashflow = ticker.cashflow if ticker.cashflow is not None else pd.DataFrame()
        elif period == 'quarterly':
            cashflow = ticker.quarterly_cashflow if ticker.quarterly_cashflow is not None else pd.DataFrame()
        else:
            raise ValueError("Invalid period. Use 'annually' or 'quarterly'.")

        if not cashflow.empty:
            # Standardize date format
            if period == 'annually':
                cashflow.columns = pd.to_datetime(cashflow.columns).to_period('Y').to_timestamp('Y')
            else:
                cashflow.columns = pd.to_datetime(cashflow.columns).to_period('Q').to_timestamp('Q')
            
            # Transpose the DataFrame
            cashflow = cashflow.T
            
            # Reset index to make date a column
            cashflow.reset_index(inplace=True)
            cashflow.rename(columns={'index': 'Date'}, inplace=True)
            
            # Add ticker column
            cashflow['Symbol'] = ticker_symbol
            
            if period == 'annually':
                # Filter for the last 4 years
                four_years_ago = pd.Timestamp.now() - pd.DateOffset(years=4)
                cashflow = cashflow[cashflow['Date'] >= four_years_ago]
            
            all_data.append(cashflow)

    # Concatenate all DataFrames into a single DataFrame
    if all_data:
        result_df = pd.concat(all_data, ignore_index=True)
        
        # Include only the specified columns
        columns_to_include = ['Date', 'Symbol', 'Free Cash Flow', 'Capital Expenditure',
                              'End Cash Position', 'Beginning Cash Position', 'Changes In Cash',
                              'Financing Cash Flow', 'Net Issuance Payments Of Debt',
                              'Investing Cash Flow', 'Net PPE Purchase And Sale', 'Purchase Of PPE',
                              'Operating Cash Flow', 'Change In Working Capital',
                              'Change In Inventory', 'Change In Receivables', 'Other Non Cash Items',
                              'Depreciation And Amortization',
                              'Net Income From Continuing Operations']
        result_df = result_df[columns_to_include]
        
        # Reorder columns to have Date and Symbol first
        cols = ['Date', 'Symbol'] + [col for col in result_df.columns if col not in ['Date', 'Symbol']]
        result_df = result_df[cols]
        
        # Sort by Date (descending) and Symbol
        result_df = result_df.sort_values(['Symbol', 'Date'], ascending=[True, False])
    else:
        result_df = pd.DataFrame()

    return result_df

In [29]:
annually_income_statement_df = get_income_statement(tickers = tickers.tickers, period = 'annually')
annually_balance_sheet_df = get_balance_sheet(tickers = tickers.tickers, period = 'annually')
annually_cash_flow_df = get_cashflow(tickers = tickers.tickers, period = 'annually')

quarterly_income_statement_df = get_income_statement(tickers = tickers.tickers, period = 'quarterly')
quarterly_balance_sheet_df = get_balance_sheet(tickers = tickers.tickers, period = 'quarterly')
quarterly_cash_flow_df = get_cashflow(tickers = tickers.tickers, period = 'quarterly')

In [30]:
annually_income_statement_df

,Date,Symbol,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Net Non Operating Interest Income Expense,Interest Expense Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
36,2024-12-31,AAPL,0.0,0.241,134661000000.0,93736000000.0,11445000000.0,210352000000.0,134661000000.0,123216000000.0,...,NaN,NaN,123216000000.0,57467000000.0,31370000000.0,26097000000.0,180683000000.0,210352000000.0,391035000000.0,391035000000.0
37,2023-12-31,AAPL,0.0,0.147,125820000000.0,96995000000.0,11519000000.0,214137000000.0,125820000000.0,114301000000.0,...,-183000000.0,3933000000.0,114301000000.0,54847000000.0,29915000000.0,24932000000.0,169148000000.0,214137000000.0,383285000000.0,383285000000.0
38,2022-12-31,AAPL,0.0,0.162,130541000000.0,99803000000.0,11104000000.0,223546000000.0,130541000000.0,119437000000.0,...,-106000000.0,2931000000.0,119437000000.0,51345000000.0,26251000000.0,25094000000.0,170782000000.0,223546000000.0,394328000000.0,394328000000.0
39,2021-12-31,AAPL,0.0,0.133,123136000000.0,94680000000.0,11284000000.0,212981000000.0,123136000000.0,111852000000.0,...,198000000.0,2645000000.0,108949000000.0,43887000000.0,21914000000.0,21973000000.0,152836000000.0,212981000000.0,365817000000.0,365817000000.0
0,2024-12-31,ALC,-5481000.0,0.189,2705000000.0,1018000000.0,1228000000.0,4399000000.0,2676000000.0,1448000000.0,...,-120000000.0,192000000.0,1413000000.0,4099000000.0,876000000.0,3250000000.0,5512000000.0,4399000000.0,9911000000.0,9836000000.0
1,2023-12-31,ALC,-4420000.0,0.085,2294000000.0,974000000.0,1221000000.0,4208000000.0,2242000000.0,1021000000.0,...,-155000000.0,189000000.0,1039000000.0,4208000000.0,828000000.0,3209000000.0,5247000000.0,4208000000.0,9455000000.0,9370000000.0
2,2022-12-31,ALC,-21804000.0,0.276,1799000000.0,335000000.0,1123000000.0,3969000000.0,1720000000.0,597000000.0,...,-130000000.0,134000000.0,672000000.0,4076000000.0,702000000.0,3068000000.0,4748000000.0,3969000000.0,8717000000.0,8654000000.0
3,2021-12-31,ALC,-3500000.0,0.1,1792000000.0,376000000.0,1219000000.0,3639000000.0,1757000000.0,538000000.0,...,-127000000.0,120000000.0,580000000.0,4072000000.0,842000000.0,3076000000.0,4652000000.0,3639000000.0,8291000000.0,8222000000.0
8,2024-12-31,BLCO,-5700000.0,0.15,639000000.0,-317000000.0,436000000.0,1724000000.0,601000000.0,165000000.0,...,-384000000.0,399000000.0,188000000.0,2731000000.0,361000000.0,2082000000.0,2919000000.0,1872000000.0,4791000000.0,7492000000.0
9,2023-12-31,BLCO,-40800000.0,0.4,601000000.0,-260000000.0,382000000.0,1500000000.0,499000000.0,117000000.0,...,-268000000.0,283000000.0,204000000.0,2300000000.0,324000000.0,1736000000.0,2504000000.0,1642000000.0,4146000000.0,5899000000.0
10,2022-12-31,BLCO,-1572600.0,0.2621,604000000.0,6000000.0,379000000.0,1384000000.0,598000000.0,219000000.0,...,-140000000.0,146000000.0,219000000.0,2030000000.0,308000000.0,1478000000.0,2249000000.0,1519000000.0,3768000000.0,3746000000.0
11,2021-12-31,BLCO,-9433962.264151,0.393082,757000000.0,182000000.0,415000000.0,1344000000.0,733000000.0,318000000.0,...,0.0,0.0,341000000.0,1957000000.0,276000000.0,1389000000.0,2298000000.0,1467000000.0,3765000000.0,3737000000.0
4,2024-12-31,COO,-1695200.0,0.326,1076900000.0,392300000.0,375100000.0,1125800000.0,1071700000.0,696600000.0,...,-114300000.0,114300000.0,705700000.0,1890000000.0,155100000.0,1533700000.0,2595700000.0,1299700000.0,3895400000.0,3895400000.0
5,2023-12-31,COO,-2009000.0,0.287,892900000.0,294200000.0,367700000.0,1053800000.0,885900000.0,518200000.0,...,-105300000.0,105300000.0,533100000.0,1824800000.0,137400000.0,1501200000.0,2357900000.0,1235300000.0,3593200000.0,3593200000.0
6,2022-12-31,COO,0.0,0.188302,878700000.0,385800000.0,346100000.0,1002200000.0,878700000.0,532600000.0,...,-57300000.0,57300000.0,507600000.0,1632000000.0,110300000.0,1342200000.0,2139600000.0,1168800000.0,3308400000.0,3308400000.0
7,2021-12-31,COO,0.0,0.27,823900000.0,2944700000.0,309300000.0,803500000.0,823900000.0,514600000.0,...,-23100000.0,23100000.0,505800000.0,1450000000.0,92700000.0,1211200000.0,1955800000.0,966700000.0,2922500000.0,2922500000.0
20,2024-12-31,CZMWF,4306932.0,0.252,385970000.0,178726000.0,132771000.0,977497000.0,403061000.0,270290000.0,...,37852000.0,29424000.0,194452000.0,894178000.0,343089000.0,569208000.0,1088630000.0,977497000.0,2066127000.0,2066127000.0
21,2023-12-31,CZMWF,16493328.0,0.292,445393000.0,290396000.0,74063000.0,883535000.0,501877000.0,427814000.0,...,27131000.0,15250000.0,348124000.0,857641000.0,349278000.0,504057000.0,1205765000.0,883535000.0,2089300000.0,2089300000.0
22,2022-12-31,CZMWF,0.0,0.267,482851000.0,293909000.0,69769000.0,775238000.0,482851000.0,413082000.0,...,55240000.0,9593000.0,396879000.0,730719000.0,291365000.0,438060000.0,1127598000.0,775238000.0,1902836000.0,1902836000.0
23,2021-12-31,CZMWF,0.0,0.299,409999000.0,236276000.0,61584000.0,679572000.0,409999000.0,348415000.0,...,-9460000.0,9365000.0,373614000.0,593599000.0,232066000.0,363980000.0,967213000.0,679572000.0,1646785000.0,1646785000.0
16,2024-12-31,GKOS,-2988090.0,0.21,-81410000.0,-146372000.0,39922000.0,94027000.0,-95639000.0,-135561000.0,...,1065000.0,10040000.0,-108137000.0,397591000.0,136425000.0,261166000.0,289454000.0,94027000.0,383481000.0,383481000.0
17,2023-12-31,GKOS,-1050000.0,0.21,-77116000.0,-134661000.0,37978000.0,75575000.0,-82116000.0,-120094000.0,...,-4469000.0,13633000.0,-123700000.0,362836000.0,138768000.0,224068000.0,239136000.0,75575000.0,314711000.0,314711000.0
18,2022-12-31,GKOS,4200000.0,0.21,-68763000.0,-99195000.0,35946000.0,68979000.0,-48763000.0,-84709000.0,...,-11345000.0,13720000.0,-102313000.0,316196000.0,123271000.0,192925000.0,213883000.0,68979000.0,282862000.0,282862000.0
19,2021-12-31,GKOS,5400000.0,0.27,-21474000.0,-49593000.0,34421000.0,66627000.0,-1474000.0,-35895000.0,...,-12084000.0,13372000.0,-52872000.0,280256000.0,100999000.0,179257000.0,227384000.0,66627000.0,294011000.0,294011000.0
24,2024-12-31,JNJ,-1122253550.668185,0.157068,31926000000.0,14066000000.0,7339000000.0,27471000000.0,24781000000.0,17442000000.0,...,577000000.0,755000000.0,22149000000.0,39201000000.0,17232000000.0,21969000000.0,61350000000.0,27471000000.0,88821000000.0,88821000000.0
25,2023-12-31,JNJ,-1037542955.782765,0.115257,32322000000.0,13326000000.0,7486000000.0,26553000000.0,23320000000.0,15834000000.0,...,489000000.0,772000000.0,23409000000.0,35197000000.0,15085000000.0,20112000000.0,58606000000.0,26553000000.0,85159000000.0,85159000000.0
26,2022-12-31,JNJ,-162932000.0,0.154,27663000000.0,16370000000.0,6970000000.0,24596000000.0,26605000000.0,19635000000.0,...,214000000.0,276000000.0,21013000000.0,34381000000.0,14135000000.0,20246000000.0,55394000000.0,24596000000.0,79990000000.0,79990000000.0
27,2021-12-31,JNJ,-79848000.0,0.072,27860000000.0,17801000000.0,7390000000.0,23402000000.0,26751000000.0,19361000000.0,...,-130000000.0,183000000.0,20943000000.0,34395000000.0,14277000000.0,20118000000.0,55338000000.0,23402000000.0,78740000000.0,78740000000.0
32,2024-12-31,MDT,-87750000.0,0.234,8578000000.0,3676000000.0,2647000000.0,10262000000.0,8203000000.0,5556000000.0,...,-719000000.0,719000000.0,5520000000.0,15628000000.0,2735000000.0,10736000000.0,21148000000.0,11216000000.0,32364000000.0,32364000000.0
33,2023-12-31,MDT,-101775000.0,0.295,9042000000.0,3758000000.0,2697000000.0,9720000000.0,8697000000.0,6000000000.0,...,-636000000.0,636000000.0,5830000000.0,14678000000.0,2696000000.0,10415000000.0,20508000000.0,10719000000.0,31227000000.0,31227000000.0
34,2022-12-31,MDT,-12865000.0,0.083,8932000000.0,5039000000.0,2707000000.0,9171000000.0,8777000000.0,6070000000.0,...,-553000000.0,553000000.0,5908000000.0,15633000000.0,2746000000.0,10292000000.0,21541000000.0,10145000000.0,31686000000.0,31686000000.0
35,2021-12-31,MDT,-27962772.785623,0.068036,7933000000.0,3606000000.0,2702000000.0,9564000000.0,7522000000.0,4820000000.0,...,-925000000.0,925000000.0,4895000000.0,14739000000.0,2493000000.0,10148000000.0,19634000000.0,10483000000.0,30117000000.0,30117000000.0
28,2024-12-31,RMD,-13176689.0,0.193,1594988000.0,1020951000.0,216209000.0,1860306000.0,1526715000.0,1310506000.0,...,-45708000.0,45708000.0,1384121000.0,1271182000.0,307525000.0,917136000.0,2655303000.0,2029994000.0,4685297000.0,4685297000.0
29,2023-12-31,RMD,1854255.0,0.185,1336582000.0,897556000.0,197562000.0,1711789000.0,1346605000.0,1149043000.0,...,-47379000.0,47379000.0,1151997000.0,1203665000.0,287642000.0,874003000.0,2355662000.0,1867331000.0,4222993000.0,4222993000.0
30,2022-12-31,RMD,-2644408.0,0.188,1190702000.0,779437000.0,193841000.0,1391053000.0,1176636000.0,982795000.0,...,-22312000.0,22312000.0,1002150000.0,1022161000.0,253575000.0,737508000.0,2024311000.0,1553816000.0,3578127000.0,3578127000.0
31,2021-12-31,RMD,-2341710.0,0.27,1112542000.0,474505000.0,191518000.0,1197285000.0,1103869000.0,912351000.0,...,-23627000.0,23989000.0,912351000.0,926749000.0,225284000.0,670387000.0,1839100000.0,1357725000.0,3196825000.0,3196825000.0
12,2024-12-31,RXST,0.0,0.21,-23760000.0,-27455000.0,3624000.0,40984000.0,-23760000.0,-27384000.0,...,9453000.0,21000.0,-36858000.0,135801000.0,34367000.0,101434000.0,98943000.0,40984000.0,139927000.0,139927000.0
13,2023-12-31,RXST,0.0,0.0,-39268000.0,-48608000.0,4243000.0,35312000.0,-41037000.0,-45280000.0,...,3266000.0,3308000.0,-50085000.0,103850000.0,29051000.0,74799000.0,53765000.0,35312000.0,89077000.0,89077000.0
14,2022-12-31,RXST,0.0,0.0,-57779000.0,-66756000.0,4022000.0,27677000.0,-57779000.0,-61801000.0,...,-3429000.0,4946000.0,-63318000.0,84646000.0,25981000.0,58665000.0,21328000.0,27677000.0,49005000.0,49005000.0
15,2021-12-31,RXST,0.0,0.0,-48745000.0,-48688000.0,3988000.0,18076000.0,-41010000.0,-44998000.0,...,-3628000.0,3682000.0,-52787000.0,57304000.0,24499000.0,32805000.0,4517000.0,18076000.0,22593000.0,22593000.0

In [31]:
quarterly_income_statement_df

,Date,Symbol,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Net Non Operating Interest Income Expense,Interest Expense Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
59,2024-12-31,AAPL,0.0,0.21,45912000000.0,36330000000.0,3080000000.0,66025000000.0,45912000000.0,42832000000.0,...,NaN,NaN,42832000000.0,15443000000.0,8268000000.0,7175000000.0,58275000000.0,66025000000.0,124300000000.0,124300000000.0
60,2024-09-30,AAPL,0.0,0.21,32502000000.0,14736000000.0,2911000000.0,51051000000.0,32502000000.0,29591000000.0,...,NaN,NaN,29591000000.0,14288000000.0,7765000000.0,6523000000.0,43879000000.0,51051000000.0,94930000000.0,94930000000.0
61,2024-06-30,AAPL,0.0,0.159,28202000000.0,21448000000.0,2850000000.0,46099000000.0,28202000000.0,25352000000.0,...,NaN,NaN,25352000000.0,14326000000.0,8006000000.0,6320000000.0,39678000000.0,46099000000.0,85777000000.0,85777000000.0
62,2024-03-31,AAPL,0.0,0.158,30736000000.0,23636000000.0,2836000000.0,48482000000.0,30736000000.0,27900000000.0,...,NaN,NaN,27900000000.0,14371000000.0,7903000000.0,6468000000.0,42271000000.0,48482000000.0,90753000000.0,90753000000.0
63,2023-12-31,AAPL,0.0,0.21,43221000000.0,33916000000.0,2848000000.0,64720000000.0,43221000000.0,40373000000.0,...,NaN,NaN,40373000000.0,14482000000.0,7696000000.0,6786000000.0,54855000000.0,64720000000.0,119575000000.0,119575000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2024-06-30,RXST,0.0,0.21,-5237000.0,-6079000.0,820000.0,10637000.0,-5237000.0,-6057000.0,...,2270000.0,6000.0,-8333000.0,32583000.0,8291000.0,24292000.0,24250000.0,10637000.0,34887000.0,34887000.0
23,2024-03-31,RXST,0.0,0.21,-7945000.0,-9100000.0,1140000.0,8827000.0,-7945000.0,-9085000.0,...,1579000.0,6000.0,-10670000.0,31355000.0,8031000.0,23324000.0,20685000.0,8827000.0,29512000.0,29512000.0
24,2023-12-31,RXST,0.0,0.001958,-8107000.0,-9177000.0,1084000.0,10926000.0,-8107000.0,-9191000.0,...,1657000.0,4000.0,-10852000.0,28506000.0,7341000.0,21165000.0,17654000.0,10926000.0,28580000.0,28580000.0
25,2023-09-30,RXST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2023-06-30,RXST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform

In [33]:
def add_timeframe_column(df, timeframe):
    """
    Add a 'Time Frame' column to the DataFrame with the specified value.

    Args:
    df (pandas.DataFrame): The input DataFrame.
    timeframe (str): The value to be added in the 'Time Frame' column.

    Returns:
    pandas.DataFrame: The DataFrame with the new 'Time Frame' column.
    """
    df['Time Frame'] = timeframe
    return df

In [34]:
annually_income_statement_df = add_timeframe_column(annually_income_statement_df, "Annually")
annually_balance_sheet_df = add_timeframe_column(annually_balance_sheet_df, "Annually")
annually_cash_flow_df = add_timeframe_column(annually_cash_flow_df, "Annually")

quarterly_income_statement_df = add_timeframe_column(quarterly_income_statement_df, "Quarterly")
quarterly_balance_sheet_df = add_timeframe_column(quarterly_balance_sheet_df, "Quarterly")
quarterly_cash_flow_df = add_timeframe_column(quarterly_cash_flow_df, "Quarterly")

In [35]:
def add_quarter_and_year_columns(df):
    """
    Add 'Quarter' and 'Year' columns to the DataFrame.

    Args:
    df (pandas.DataFrame): The input DataFrame.

    Returns:
    pandas.DataFrame: The DataFrame with the new 'Quarter' and 'Year' columns.
""" 
    # Convert the 'date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Extract the quarter and year from the 'date' column
    df['Quarter'] = df['Date'].dt.quarter
    df['Year'] = df['Date'].dt.year
    
    return df

In [36]:
quarterly_income_statement_df = add_quarter_and_year_columns(quarterly_income_statement_df)
quarterly_balance_sheet_df = add_quarter_and_year_columns(quarterly_balance_sheet_df)
quarterly_cash_flow_df = add_quarter_and_year_columns(quarterly_cash_flow_df)

## Load

In [43]:
current_dir = os.getcwd()

# Change directory into data directory
data_dir = os.path.join(current_dir, 'datasets')

In [41]:
def load_data(df, data_dir, file_name):
    """
    Load a DataFrame to a CSV file in the specified data directory.

    Args:
    df (pandas.DataFrame): The DataFrame to be saved.
    data_dir (str): The directory where the CSV file will be saved.
    file_name (str): The name of the file to be saved (without extension).
    """

    # Create the full file path
    file_path = os.path.join(data_dir, f"{file_name}.csv")

    # Save the DataFrame to a CSV file
    df.to_csv(file_path, index=False)

In [44]:
# Load the annually income statement data
load_data(annually_income_statement_df, data_dir, 'annually_income_statement')

# Load the annually balance sheet data
load_data(annually_balance_sheet_df, data_dir, 'annually_balance_sheet')

# Load the annually cash flow statement data
load_data(annually_cash_flow_df, data_dir, 'annually_cash_flow')

# Load the quarterly income statement data
load_data(quarterly_income_statement_df, data_dir, 'quarterly_income_statement')

# Load the quarterly balance sheet data
load_data(quarterly_balance_sheet_df, data_dir, 'quarterly_balance_sheet')

# Load the quarterly cash flow statement data
load_data(quarterly_cash_flow_df, data_dir, 'quarterly_cash_flow')